body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
 
  
    
  
  
  #personal-data-form {
    padding: 1em;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  #personal-data-form>input {
    width: 100%;
  }
  
  #personal-data-form>label {
    margin: .5em 0;
    width: 100%;
  }
  
  .form-submit {
    width: 100%;
    margin: .5em 0;
    text-align: right;
  }
  
  .form-submit>button {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
  
    padding: .5em 1em;
    border-radius: 5px;
  
    background-color: var(--primary-color);
    color: var(--primary-color-inverse);
  }
  
  #personal-data-form span {
    color: lightcoral;
    visibility: hidden;
  }
  
  #personal-data-form input[type=text] {
    border-radius: 5px;
    border: 2px rgb(233, 107, 107) solid;
    background-color: var(--input-color);
    padding: 1em;
  }
  
  #personal-data-form input[type=text]:focus {
    background-color: var(--input-color-focus);
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container {
      align-items: center;
    }
  
    .item {
      width: 75%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .item {
      width: 50%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}



  .menu {
    list-style: none;
    padding: 0%;
    background: #008080;
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: rgb(231, 204, 129);
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #000080;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}

body {
  text-transform: capitalize;
 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #24262b;
  padding: 80px 0;
}

.footer-row {   
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color:white;
  margin-bottom: 25px;
}
